<nav class="navigation ">

    <div class="navleft">
      <img src="https://i.ibb.co/mBCbjv4/logo.png" alt="" class="logo-image">


              <a class="logo-text" href="">
                      <div class="top">
                        Don't Hire That !
                      </div>
                      <div class="bottom">
                        Spare your company from Toxics
                      </div>
                    </a>


    </div>
    
  
  
  
    <div class="navright">
          
          
            <a hreflang="">Profiles</a> 
            <a hreflang="" class="glow">Add Toxics</a>
            <a hreflang="">Your Blacklist</a>
            <a hreflang="">Statistics</a>
            <a hreflang="">Hall of fame</a>
             
            

            <button style="background-color: transparent; border-color: transparent; ">
                <span class="material-icons">login</span>
                
          </button>
        
        
    </div>
  
    
  
  
  
  </nav>
  