<nav class="nav ">

    <div class="navleft">
      <img src="https://i.ibb.co/mBCbjv4/logo.png" alt="" class="logo-image">
      <div class="logo-text">
  
            <div class="top">
              Don't Hire That !
            </div>
            <div class="bottom">
              Spare your company from Toxics
            </div>
      </div>
    </div>
    
  
  
  
    <div class="navright">
          
          
            <a hreflang="">Profiles</a> 
            <a hreflang="" class="glow">Add Toxics</a>
            <a hreflang="">Your Blacklist</a>
            <a hreflang="">Statistics</a>
            <a hreflang="">Hall of fame</a>
             
            

            <button style="background-color: transparent; border-color: transparent; ">
                <span class="material-icons">login</span>
                
          </button>
        
        
    </div>
  
    
  
  
  
  </nav>
  